/* Styles for the main wrapper */
.custom_loader .loader-3 {
  width: 10em;
  display: flex;
  gap: 6px;
  justify-content: center;
}

/* Styles for the individual circles */
.custom_loader .circle {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  position: relative;
}

/* Background colors for each circle */
.custom_loader .circle:nth-child(1) {
  background-color: #90be6d;
}
.custom_loader .circle:nth-child(2) {
  background-color: #f9c74f;
}
.custom_loader .circle:nth-child(3) {
  background-color: #f8961e;
}
.custom_loader .circle:nth-child(4) {
  background-color: #f3722c;
}
.custom_loader .circle:nth-child(5) {
  background-color: #f94346;
}

/* Pseudo-element for the pulsating effect */
.custom_loader .circle::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: animateLoader38 2s ease-out infinite;
}

/* Background colors and animation delays for pseudo-elements */
.custom_loader .circle:nth-child(1)::before {
  background-color: #90be6d;
}
.custom_loader .circle:nth-child(2)::before {
  background-color: #f9c74f;
  animation-delay: 0.2s;
}
.custom_loader .circle:nth-child(3)::before {
  background-color: #f8961e;
  animation-delay: 0.4s;
}
.custom_loader .circle:nth-child(4)::before {
  background-color: #f3722c;
  animation-delay: 0.6s;
}
.custom_loader .circle:nth-child(5)::before {
  background-color: #f94346;
  animation-delay: 0.8s;
}

/* Keyframe animation for the pulsating effect */
@keyframes animateLoader38 {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}
